{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TheBest Studios</title>
	<meta charset="UTF-8">
	<meta name="description" content="TheBest Studios">
	<meta name="keywords" content="movies, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets --> 
	<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'website/css/slicknav.min.css' %}"/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{% static 'website/css/style.css' %}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section --> 
	<header class="header-section clearfix">
		<a href="{% url 'home' %}" class="site-logo">
			<img src=" {% static 'website/img/logo.png' %}" alt="">
		</a>
		<div class="header-right">
			<a href="#" class="hr-btn">Help</a>
			<span>|</span>
			<div class="user-panel">
				<a href="" class="login">Login</a>
				<a href="" class="register">Create an account</a>
			</div> 
		</div>
		<ul class="main-menu">
			<li><a href="{% url 'home' %}">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Pages</a>
				<ul class="sub-menu">
					<li><a href="{% url 'category' %}">Category</a></li>
					<li><a href="{% url 'playlist' %}">Playlist</a></li>
					<li><a href="{% url 'artist' %}">Artist</a></li>
					<li><a href="{% url 'blog' %}">Blog</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</li>
			<li><a href="{% url 'blog' %}">News</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
		</ul>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Cinema </span> for everyone.</h2>
								<p>This website intention is to create passionate film makers. </p>
								<a href="#" class="site-btn">Login</a>
								<a href="#" class="site-btn sb-c2">Signup</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{% static 'website/img/hero-bg.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>                
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Film making </span> is an addiction.</h2>
								<p>This website intention is to create passionate film makers. </p>
								<a href="#" class="site-btn">Login</a>
								<a href="#" class="site-btn sb-c2">Signup</a>
							</div>
						</div> 
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{% static 'website/img/hero-bg.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Agreement</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>cinema ante 24 crafts andhulo oka craft miss iyena we call it as a incomplete creative thing.
					<br>Don't worry meru okavelaa fresher iyena saree meku interest una craft ki meru register avandi meku haa course ki sambandinchina prathi oka work indetailed ga nerpistham kakapothe meru maa production tho max 2 projects lo work cheyalii next project nundi mee payment mee account lo credit avuthadi.
					<br>Meru okavela expirenced ithe matho max 1 project finish cheyalii mee next projects nundi mee payment mee account lo credit avuthadi.
				    <br>Apudu ki apudu latest technology ki switch iye production house madi for example we don't go for outdoor shootings, we do all our work in the virtual set.</p>
					<a href="#" class="site-btn">Register now</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- Subscription section -->          
	<section class="subscription-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="sub-text">
						<h2>Registration</h2> 
					    <p>Name: <br>
						Bio: <br>
						Select: radio buttons 1)professional 2)fresher<br>
						if he/she select professional it must ask to upload their content like a short video<br>selective role: dropdown list of total 24 crafts<br>
						Expecting remuneration: not exactly is one option<br>
						place:   <br>
						contact:
					    </p>
						<a href="#" class="site-btn">Register</a>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="sub-list">
						<h3>Login</h3> <br>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">Play any track</li>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">Listen offline</li>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">No ad interruptions</li>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">Unlimited skips</li>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">High quality audio</li>
						<li><img src="{% static 'website/img/icons/check-icon.png' %}" alt="">Shuffle play</li> <br>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Subscription section end -->

	<!-- Premium section end -->
	<section class="premium-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>About us</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			
				</div>
			</div>
		</div>
	</section>
	<!-- Premium section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-7 order-lg-2">
					<div class="row">
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>About us</h2>
								<ul>
									<li><a href="">Our Story</a></li>
									<li><a href="">Our Blog</a></li>
									<li><a href="">History</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Products</h2>
								<ul>
									<li><a href="">Movie</a></li>
									<li><a href="">Subscription</a></li>
									<li><a href="">Custom Music</a></li>
									<li><a href="">Footage</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="footer-widget">
								<h2>Playlists</h2>
								<ul>
									<li><a href="">Newsletter</a></li>
									<li><a href="">Careers</a></li>
									<li><a href="">Press</a></li>
									<li><a href="">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>         
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="{% static 'website/img/logo.png' %}" alt="">
					

					<div class="social-links">
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
	
	<!--====== Javascripts & Jquery ======--> 
	<script src="{% static 'website/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'website/js/jquery.slicknav.min.js' %}"></script>
	<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'website/js/mixitup.min.js' %}"></script>
	<script src="{% static 'website/js/main.js' %}"></script>

	</body>
</html>
